<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="w-100 mx-4">
  <div class="w-50 m-auto">
    <h5 class="text-orange">Resaurant information</h5>
    <div class="field form-group">
      <%= f.text_field :resto_name, class: "form-control", placeholder: "Restaurant name"%>
    </div>

    <div class="field form-group">
    <%= f.label :image, "Add restaurant icon" %><br />
    <%= image_tag(@restaurant.image.url) if @restaurant.image && @restaurant.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache, class: "form-control"%>
  </div>

    <div class="field form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location"%>
    </div>

    <div class="field form-group">
      <%= f.text_field :website, class: "form-control", placeholder: "Add Website (if any)"%>
    </div>

    <div class="form-group text-left">
      <%= f.check_box :online_delivery %>
      <%= f.label :online_delivery %>
    </div>

    <div class="form-group text-left">
      <%= f.check_box :table_booking %>
      <%= f.label :table_booking %>
    </div>
  </div>

  <div class="row m-auto">
    <div class="col text-left">
      <h6 class="text-orange">Breakfast</h6>
      <%= f.fields_for :breakfasts do |ff| %>
      <div class="form-group form-inline">
        <%= ff.text_field :item, class: "form-control mr-2", placeholder: "Add item" %>
        <%= ff.text_field :price, class: "form-control w-25", placeholder: "Price /Rwf" %>
      </div>
      <% end %>
    </div>
    <div class="col text-left">
      <h6 class="text-orange">Lunch</h6>
      <%= f.fields_for :lunches do |ff| %>
        <div class="form-group form-inline">
          <%= ff.text_field :item, class: "form-control mr-2", placeholder: "Add item" %>
          <%= ff.text_field :price, class: "form-control w-25", placeholder: "Price /Rwf" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions text-left">
    <%= f.submit class: "btn bg-orange m-2 text-white rounded-pill" %>
  </div>
</div>
<% end %>
